<table class="table table-striped">
  <thead>
      <tr>
      <th>#</th>
      <th>Full Name</th>
      <th>Job Title</th>
      <th>Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="player in allPlayers">
          <td>{{$index+1}}</td>
          <td><a  href="" ng-click="playerSelected(player)">{{player.fullName}}</a></td>
          <td>{{player.jobTitle}}</td>
          <td><a href="#players/edit/{{player.id}}">Edit</a>/Delete</td>
      </tr>
  </tbody>
</table>