<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{player.fullName}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Job Title:</td>
                        <td>{{player.jobTitle}}</td>
                      </tr>
                      <tr>
                        <td>Games Played</td>
                        <td>{{games.length}}</td>
                      </tr>
                      <tr>
                        <td>Games won</td>
                        <td>{{games | gamesWon:player}}</td>
                      </tr>
                      <tr>
                        <td>Games lost</td>
                        <td>{{games.legth}}</td>
                      </tr>
                      <tr>
                        <td>Draws</td>
                        <td>{{games.legth}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                              <a href="#players/edit/{{player.id}}" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>

                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>

          </div>