
<table class="table table-striped">
  <thead>
      <tr>
      <th>#</th>
      <th>Home Player</th>
      <th>Away Player</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="game in allGames |filter:gamesFilter() | orderBy:'away.fullName' ">
          <td><a href="#games/edit/{{game.id}}">{{$index+1}}</a></td>
          <td><a href="#players/edit/{{game.home.id}}">{{game.home.fullName}}</a> ({{game.home.jobTitle}})</td>
          <td><a href="#players/edit/{{game.away.id}}">{{game.away.fullName}}</a> ({{game.away.jobTitle}})</td>
          <td>{{game.homeScore}}-{{game.awayScore}}</td>
      </tr>
  </tbody>
</table>