<div class="row marketing">

  <div ng-include="'views/parts/userlist.html'"></div>

  <div ng-show="currentPlayer">
    <user-profile player="currentPlayer" games="currentGames"></user-profile>
  </div>
</div>



<div class="footer">
  <p>I am a footer, nothing to see here</p>
</div>
