<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Create new game.</h3>
  </div>
  <div class="panel-body">
    <form name="newGame" novalidate="" role="form">
      <div class="form-group">
        <label>Home</label>
        <select class="form-control" required="" name="home" ng-model="game.home" ng-options="player.fullName for player in allPlayers">
          <option value="">-- Please select the home player --</option>
        </select>
        <div class="text-danger" ng-show="newGame.home.$invalid">
          <span ng-show="newGame.home.$error.required">Please select a home player</span>
        </div>
      </div>
      <div class="form-group">
        <label>Away</label>
        <select class="form-control" required="" name="away" ng-model="game.away" ng-options="player.fullName for player in allPlayers">
          <option value="">-- Please select the home player --</option>
        </select>
        <div class="text-danger" ng-show="newGame.away.$invalid">
          <span ng-show="newGame.away.$error.required">Please select an away player</span>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="isScoreKnown">Score known</input>
          </label>
          <div class="row" ng-show="isScoreKnown">
            <div class="col-xs-2">
              <input type="text" class="form-control"  type="number"  name="homeScore" ng-model="game.homeScore"  />
            </div>
            <div class="col-xs-2">
               <input type="text" class="form-control"  type="number"  name="awayScore" ng-model="game.awayScore"  />
            </div>
          </div>

      </div>
      <input type="button" class="btn btn-default" ng-click="cancel()" value="Cancel"></input>
      <input type="button" class="btn btn-primary" ng-click="saveGame()" value="Save"></input>
    </form>
  </div>
</div>
