<div  class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Create new player.</h3>
  </div>
  <div class="panel-body">
<form name="newPlayer"  novalidate role="form">

   <div class="form-group"
            ng-class="{'has-error':newPlayer.jobTitle.$dirty && newPlayer.jobTitle.$invalid}" >
  <label>Job title</label>
<input type="text"
            class="form-control "
              placeholder="Enter your job title"
              name="jobTitle"
              ng-model="player.jobTitle"
              required
              ng-minlength="3"
              />
 <div class="text-danger" ng-show="newPlayer.jobTitle.$dirty && newPlayer.jobTitle.$invalid">Invalid:
      <span  ng-show="newPlayer.jobTitle.$error.required">Tell us your job, this is very important.</span>
      <span   ng-show="newPlayer.jobTitle.$error.minlength">This is not a serious job title. We don't accept players with short job titles.</span>
    </div>
  </div>
  <div class="form-group">
<label>Full Name</label>
<input type="text" class="form-control"
              placeholder="Enter your full name"
              name="fullName"
              ng-model="player.fullName"
              required/>
</div>
<input type="button" class="btn btn-default" ng-click="cancel()" value="Cancel"></button>
<input type="button" class="btn btn-primary" ng-click="savePlayer()" value="Save"></button>

</form>
</div>
</div>

